# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
*.env
.env.local
.env.production

# Django specific
*.log
db.sqlite3
instance/
media/

# Static files
staticfiles/

# Editor settings
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Backup and temporary files
*~
*.swp
